header {
    background-image: linear-gradient(to right, #ff9966, #ffa2c7); /* Adjust the colors as needed */
    padding: 0;
    color: white; /* Set text color to contrast with the gradient */
    text-align: center;
    background-color: rgb(110, 67, 29);
    width: 100%;
    margin: 0;
    box-shadow: 0 10px 10px rgb(255, 0, 0);
    border-radius: 25px;
    
}
main {
    background-color: rgb(228, 206, 171);

    p {
        color: rgb(163, 116, 87);
    }
}
footer {
    background-color: rgb(83, 18, 188);
    color: #ff0000;
    box-shadow: 5px 10px 10px rgb(60, 255, 242);
}
body {
    background-color: rgb(128, 128, 128);
}
.headerID {
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display:flex;
    width: 100%; 
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.card {
    background-color: #e0b878;
    box-shadow: 0 6px 10px #ff0000;
    margin: 15px;
    width: calc(52% - 100px);
    overflow: hidding;
    border-radius: 25px;
    padding: 10px;
}
.card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 10px 10px rgb(88, 84, 62);
}
.card-raiting {
    margin-top: 10px;
}
.card-detail h2, h3, h4{
    margin: 2px;
}
#toggle-button {
    display: inline;
    cursor: pointer;
}

.comments-container {
    display: none; /* hide the comments container by default */
}

.beautiful-button {
    background-image: linear-gradient(to right, #d1c7fd, #c7d4e5);
    border: solid;
    border-color: rgb(150, 234, 220);
    color: rgb(255, 255, 255); /* White text */
    padding: 15px; /* Padding */
    text-align: center; /* Text alignment */
    text-decoration: none; /* No underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s; /* Smooth transition on hover */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
    width: 100px;
    height: 40px;
}

.couzy-button {
    background-image: linear-gradient( to left, #dd6b1f, rgb(255, 242, 0));
    border: solid;
    border-color: #4809ac;
    color: rgb(50, 19, 206);
    padding: 15px; /* Padding */
    text-align: center; /* Text alignment */
    text-decoration: none; /* No underline */
    display: inline-block; /* Display as inline-block */
    font-size: 16px; /* Font size */
    margin: 4px 2px; /* Margin */
    transition-duration: 0.4s; /* Smooth transition on hover */
    cursor: pointer; /* Cursor style */
    border-radius: 8px; /* Rounded corners */
    width: 100px;
    height: 40px;
}
.beautiful-button:hover {
    background-color: #313431; /* Darker green on hover */
}